{
    "extends": ["wanews"],
    "rules": {
        "@typescript-eslint/no-explicit-any": 0,
        "@typescript-eslint/array-type": [1, { "default": "array-simple" }],
        "@typescript-eslint/no-unused-vars": 0
    }
}
